<div id="msg" style="display:none; text-align:center;">
	
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-6">
			<h2>New Project</h2>
		</div>
	</div>
</div>
<%= render 'form' %>
<script>

$(function(){
  $("#project").on("submit", function(event){
    $.ajax({
      type: "POST",
      url: this.action,
      data: $(this).serialize(),
      success: function(response) {
      	$("#msg").html("Project is created with id "+response.id);
        $("#msg").show();
               setTimeout(function() { $("#msg").hide(); }, 3000);
                document.getElementById('btn-success').disabled = false;

      }
    });
    event.preventDefault();
  });
})
</script>